# Core ML & Math
torch
torchvision
numpy
scipy

# Data & Visualization
pandas
matplotlib
scikit-learn

# Image Processing & Medical Files
opencv-python-headless
scikit-image
nibabel
totalsegmentator

# Deep Learning
segmentation-models-pytorch